@charset "utf-8";
#wrap{
    width:100%
}

/*float:left; 속성이 그 다음 요소에게 상속이 되지 않게 선언 
 .box::after{
    clear:both;
    content:"";
    display:block;
}*/

/* 상단부분 */
#header{
    float:left;
    width:100%;
}
#header_top{
    margin: 0 auto;
    width:1000px;
    height:115px;
    position: relative;
}
/* 인포메뉴 */
#header_top .info_mn{
    position: absolute;
    top:5px;
    right:5px;
}
#header_top .info_mn > li{
    float:left;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #000;
    line-height:11px;
}
#header_top .info_mn > li.last{
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}
#header_top .info_mn > li > a{
    font-size:11px;
}
/* 로고 */
#header_top .logo{
    float:left;
    margin:45px 0 0 10px;
}
/* 빠른메뉴 */
#header_top .q_mn{
    float:left;
    margin:55px 0 0 150px;
}
#header_top .q_mn > li{
    float:left;
    margin-right:20px;
}
#header_top .q_mn > li > a{
    font-size: 15px;
}
/* 검색창 */
#header_top .input_box{
    float:left;
    width:260px;
    height:30px;
    background-color:gray;
    margin:50px 0 0 0;
}
#header_top .input_box .txt{
    float:left;
    font-size:14px;
    line-height:30px;
    padding-left:10px;
    color:aliceblue;
}
#header_top .input_box .search{
    float:right;
    margin:5px 5px 0 0;
}
/* 네비게이션 */
#header_nav{
    float:left;
    width:100%;
    height:45px;
    /* background-image: url(../images/nav_area.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0; */
    background: url(../images/nav_area.jpg) no-repeat 50% 0;
}
#header_nav > ul{
    margin:0 auto;
    width:1008px;
}
#header_nav > ul > li{
    float:left;
}
/* 메인이미지부분 */
#main_img{
    float:left;
    width:100%;
    height: 465px;
    background:url(../images/main_img.jpg) no-repeat 50% 0;
}
/* 내용부분 */
#contents{
    float:left;
    width:100%;
}
/* 아이템 */
#item{
    margin: 0 auto;
    margin-top:40px;
    width:1000px;
    height:260px;
}
/* 아이템 헤드 */
#item .item_h{
    float:left;
    width: 170px; 
    height: 260px;
}
#item .ttl{
    font-size:28px;
    color:#000;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
#item .menu{
    margin-top: 30px;
}
#item .menu > li{
    margin-bottom: 13px;
}
#item .menu > li > a{
    font-size: 15px;
    color:#333;
}
#item .menu > li > a:hover{
    color:orange;
    text-decoration:underline;
}
/* 아이템 바디 */
#item .item_b{
    float:right;
    width:795px;
    height: 260px;
}
#item .box {
    float:left;
    margin-right: 10px;
    width:189px;
    height:258px;
    border: 1px solid #ccc;
}
#item .box:last-child{
    margin-right: 0px;
}
#item .box > img{
    width:100%;
    border-bottom: 1px solid #ccc;
}
#item .box > div{
    padding-top: 14px;
}
#item .box h4{
    margin: 0 0 5px 10px;
}
#item .box span{
    margin-left: 10px;
}

/* 바로가기 */
#go_btn{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width:1000px;
    height:275px;
}
#go_btn a{
    margin-right: 15px;
}
#go_btn a:last-child{
    margin-right: 0px;  
}
/* 영상 */
#movie{
    width:100%;
    height:300px;
    background-image: url(../images/movie.png);
    background-repeat: no-repeat;
    background-position: center top; /*50% 0*/
    position: relative;
}
#movie > a{
    display: block;
    width:170px;
    height:50px;
    border:1px solid #fff;
    position: absolute;
    top:200px;
    left:50%;
    margin-left:-85px;
}
/* 스타일 */
#style{
    margin: 0 auto;
    margin-top:40px;
    width:1000px;
    height:260px;
}
/* 스타일 헤드부분 */
#style .style_h{
    float: left;
    width:170px;
    height:260px;
}
#style .ttl2{
    font-size:28px;
    color:#000;
    border-top:1px solid #000;
    border-bottom:1px solid #000;
}
#style .menu2{
    margin-top: 30px;
}
#style .menu2 > li{
    margin-bottom: 13px;
}
#style .menu2 > li > a{
    font-size: 15px;
    color:#333;
}
#style .menu2 > li > a:hover{
    color:orange;
    text-decoration:underline;
}
/* 스타일 바디부분 */
#style .style_b{
    float: right;
    width:795px;
    height:260px;
}
#style .style_b > li{
    float:left;
    width:188px;
    height:258px;
    margin-right:10px;
    border: 1px solid #ccc;
}
#style .style_b > li:last-child{
    margin-right:0px;
}
#style .style_b > li img{
    width: 100%;
    border-bottom: 1px solid #ccc;
}
#style .style_b > div{
    padding-top:14px;
}
#style .style_b h4{
    margin: 0 0 5px 10px;
}
#style .style_b span{
    margin-left: 10px
}
/* 배너 */
#banner{
    margin: 0 auto;
    margin-top:40px;
    margin-bottom: 80px;
    width:1000px;
    height:395px;
}
#banner > .group{
    float:left;
    width:492px;
}
#banner > .group a:first-child{
    float:left;
    margin-bottom: 15px;
}
#banner > a{
    float:right;
}
/* 인포 */
#info{
    float: left;
    width:100%;
    height:165px;
    background: url(../images/footer_top_bg.jpg) repeat-x 0 0;
}
#info .banner{
    margin:0 auto;
    width:1000px;
    height:110px;
}
#info .notice{
    margin:0 auto;
    width:1000px;
    height:55px;
    line-height:55px;
}
#info .notice > .ttl{
    float:left;
    font-size:15px;
    color:#fff;
}
#info .notice > .txt{
    float:left;
    margin-left:35px;
    font-size:12px;
    color:#fff;
}
#info .notice > .date{
    float:right;
    margin-right: 30px;
    font-size:10px;
    color:#fff;
}
/* 하단부분 */
#footer{
    float:left;
    width:100%;
}
#f_top{
    margin: 0 auto;
    width:1000px;
    height:290px;
}
/* 전체메뉴 */
#f_top .main_mn{
    float:left;
    margin: 60px 0 0 20px;
}
#f_top .main_mn > li{
    float:left;
    margin-right:50px;
}
#f_top .sub_mn{

}
#f_top .sub_mn li{
    margin-bottom:10px;
}
/* 고객센터 */
#f_top .call_center{
    float:right;
    width:250px;
}
#f_top .call_center h3{
    font-size: 30px;
    color:#000;
    border-bottom: 1px solid #000;
    text-align: center;
    padding:20px 0 7px 0;
}
#f_top .call_center h4{
    margin-top:15px;
    font-size:16px;
    color:#000;
}
#f_top .call_center p{
    font-size:13px;
    color:#666;
}
/* 하단로고 및 인포 */
#f_bom{
    margin:0 auto;
    width:1000px;
    height:140px;
    background-color:darkcyan;
}
#f_bom .logo2{
    margin: 30px 0 0 0;
    float:left;
    width:100px;
    height:60px;
    background-color:aquamarine;
}
#f_bom .group{
    float:left;
}
#f_bom .group .info_mn{
    float: left;
    margin:25px 0 0 20px;
}
#f_bom .group .info_mn li{
    float:left;
    border-right: 1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
    line-height:13px;
}
#f_bom .group .info_mn li:last-child{
    margin-right: 0px;
    padding-right: 0px;
    border-right: 0px;
}
#f_bom .group .info_mn a{
    font-size: 13px;
}
#f_bom .address{
    float: left;
    width:100%;
    height:60px;
    background-color:brown;
    margin:10px 0 0 20px;
}
.line{
    width:100%;
    height:2px;
    background-color:black;
    margin: 25px 0 0 20px;
}