@charset "utf-8";

#wrap{
    width: 100%;
}

/* 상단부분 */
#header{
    float: left;
    width: 100%;
}
#h_top{
    margin:0 auto;
    width: 1100px;
    height:90px;
    position: relative;
}
/* 로고 */
#h_top .logo{
    float: left;
}
/* 인포메뉴 */
#h_top .info_mn{
    float: left;
    margin: 14px 0 0 64px;
}
#h_top .info_mn li{
    float: left;
    margin-right: 10px;
}
#h_top .info_mn li a{
    font-size:11px;
}
/* 퀵메뉴 */
#h_top .q_mn{
    float: left;
    position:absolute;
    top: 40px;
    left: 200px;
}
#h_top .q_mn > li{
    float: left;
    margin-right: 14px;
}
#h_top .q_mn > li > a{
    font-size:16px;
}
/* 언어 */
#h_top .lang{
    float: right;
    margin: 10px 10px 0 0;
}
/* 정보 */
#h_top .notice{
    position: absolute;
    top:45px;
    right: 10px;
}
#h_top .notice > li{
    float: left;
    font-size: 11px;
    color:burlywood
}
#h_top .notice > li:first-child{
    color:#333;
}
#h_top .notice > li:first-child::after{
    color:#666;
    content:"ㅣ";
    font-size:10px;
    display: inline-block;
    padding: 0 10px;
}
/* 네비게이션 */
#h_nav{
    float: left;
    width: 100%;
    height:40px;
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#h_nav > ul{
    width:1100px;
    margin: 0 auto;
}
#h_nav > ul > li{
    float: left;
    width:137.5px;
    height:40px;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    text-align:center;
    line-height: 40px;
}
#h_nav > ul > li:first-child{
    border-left: 1px solid #ccc;
}
#h_nav > ul a{
    display: block;
    transition: 0.5s;
}
#h_nav > ul a:hover{
    background-color:beige;
    transition: 0.5s;
}
/* 헤드라인 배너 */
#h_bott{
    float: left;
    width: 100%;
    height:135px;
    background: url(../images/bg_main_slogan.jpg) no-repeat 50% 0;
}
/* 메인이미지부분 */
#main_img{
    float: left;
    width: 100%;
    height:550px;
    background: url(../images/main1.png) no-repeat 50% 0;
}

/* 콘텐츠 */
#contents{
    float: left;
    margin:0 auto;
    width: 100%;
}
#contents img{
    float: left;
}
#contents > .inner{
    margin: 0 auto;
    width:1100px;
}
#contents > .inner > article{
    float:left;
}
/* 윗배너 */
#contents .about{
    width:275px;
    height:355px;
}
#contents .event{
    width:275px;
    height:355px;
}
#contents .movie{
    width:550px;
    height:355px;
}
/* 중간배너 */
#contents .docs{
    width:275px;
    height:710px;
}
#contents .photo{
    width:550px;
    height:710px;
}
#contents .photo_t{
    width:550px;
    height:280px;
}
#contents .photo .box{
    float:left;
    width:137px;
    height:142px;
    position:relative;
    cursor:pointer;
}
#contents .photo .box:hover .inBox{
    opacity: 0.7;
    transition: 0.7s;
}
#contents .photo .inBox{
    width:133px;
    height:138px;
    border:2px solid red;
    position:absolute;
    top:0;
    left:0;
    z-index: 100;
    opacity: 0;
}
#contents .photo .inBox > p{
    margin-top:55px;
    text-align:center;
    background-color:antiquewhite;
    padding:5px 0;
}
#contents .photo_h{
    width:550px;
    height:145px;
    background-color: #333;
    color: #fff;
}
#contents .photo_h > .ttl{
    font-size:30px;
    font-weight: 800;
    color: #fff;
    text-align:center;
    padding: 24px 0;
}
#contents .photo_h > .menu{
    margin:0 auto;
    width:480px;
    height:30px;
    border:1px solid #fff;
}
#contents .photo_h > .menu > li{
    float:left;
    width:120px;
    text-align:center;
    line-height:30px;
    border-right:1px solid #fff;
    box-sizing: border-box;
}
#contents .photo_h > .menu > li:last-child{
    border-right:0;
}
#contents .photo_h > .menu a{
    font-size:13px;
    color:#fff;
    display:block;
}
#contents .photo_h > .menu a:hover{
    background-color:burlywood;
    color:#666;
    transition:0.5s;
}
#contents .photo_b{
    width:550px;
    height:280px;
}
#contents .story{
    width:275px;
    height:710px;
}
/* 하단배너 */
#contents .news{
    margin-top: 15px;
    margin-right: 25px;
    width:355px;
    height:220px;
    border-right: 1px solid #ccc;
}
#contents .news_h{
    width:355px;
    height:35px;
    padding-top: 5px;
}
#contents .news_b{
    width:330px;
}
#contents .news_b .list > li{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
#contents .news_b .list > li:last-child{
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
#contents .help_desk{
    margin-top:15px;
    margin-right: 25px;
    width:355px;
    height:200px;
    width:355px;
    height:200px;
    border-right: 1px solid #ccc;
}
#contents .help_desk_h{
    padding-top:5px;
    width:355px;
    height:35px;
}
#contents .location{
    margin-top:15px;
}
#contents .location_h{
    padding-top:5px;
    width:330px;
    height:35px;
}

/* 하단부분 */
#footer{
    float: left;
    width:100%;
}
/* 윗부분 */
#footer .f_sns{
    width:100%;
    height:41px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
#footer .f_sns_in{
    margin:0 auto;
    width:1100px;
    height:41px;
}
#footer .f_sns .info_mn{
    float: left;
}
#footer .info_mn li{
    float: left;
    margin-right: 20px;
    line-height:41px;
}
#footer .info_mn a{
    font-size: 13px;
}
#footer .f_sns .sns_mn{
    float:right;
}
#footer .f_sns .sns_mn li{
    float: left;
}
#footer .f_sns .sns_mn li:nth-child(1){
    border-left: 1px solid #ccc;
}
#footer .f_sns .sns_mn img{
    float: left;
    border-right: 1px solid #ccc;
}
/* 중간부분 */
#footer .f_all_mn{
    width:100%;
    height:570px;
    background:rgba(51,51,51,0.2);
}
#footer .f_all_mn_in{
    margin:0 auto;
    width:1100px;
    height:570px;
}
#footer .f_all_mn_in .all_mn{
    float: left;
    margin: 100px 0 0 50px;
}
#footer .f_all_mn_in .all_mn > li{
    float: left;
    margin-right:50px;
}
#footer .f_all_mn_in .sub_mn > li{
    text-align:center;
}
#footer .f_all_mn_in .sub_mn > li:nth-child(1){
    margin-bottom: 20px;
}
#footer .f_all_mn_in h4{
    font-size:16px;
    color:#000;
}
#footer .f_all_mn_in a{
    font-size:13px;
}
/* 아랫부분 */
#footer .f_copy{
    margin:0 auto;
    width:1100px;
    height:145px;
}
#footer .f_copy .address{
    float:left;
    width:500px;
    height:120px;
    border:1px solid #000;
    font-size:30px;
    font-style: normal;
}
#footer .f_site{
    float:right;
    margin:20px 10px 0 0;
    width:150px;
    height:25px;
    border:1px solid #ccc;
    font-size:13px;
    color:#666;
}