@charset "UTF-8";

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 0.875em;
	background: #eee;
	color: #555;
}
h1 {
	padding: 50px 0 40px;
	text-align: center;
	font-weight: 500;
}
p {
	margin: 0 0 20px;
	line-height: 1.5;
}
.container {
	margin: 0 auto;
	padding: 50px;
	max-width: 800px;
	min-width: 320px;
	background: #fff;
}
.container section {
	display: none;
	padding: 20px 0 0;
	border-top: 1px solid #ddd;
}
.container input {
	display: none;
}
.container label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	text-align: center;
	font-weight: 600;
	color: #bbb;
	border: 1px solid transparent;
}
.container label::before {
	margin-right: 10px;
	font-family: fontawesome;
	font-weight: 300;
}
.container label[for*="1"]:before {
	content: "\f1cb";
}
.container label[for*="2"]:before {
	content: "\f17d";
}
.container label[for*="3"]:before {
	content: "\f16b";
}
.container label[for*="4"]:before {
	content: "\f1a9";
}
.container label:hover {
	color: #888;
	cursor: pointer;
}
.container input:checked + label {
	color: #555;
	border: 1px solid #ddd;
	border-top: 2px solid orange;
	border-bottom: 1px solid #fff;
}
.container #tab1:checked ~ #content1,
.container #tab2:checked ~ #content2,
.container #tab3:checked ~ #content3,
.container #tab4:checked ~ #content4 {
	display: block;
}

@media screen and (max-width: 650px) {
	.container label {
		font-size: 0;
	}
	.container label::before {
		margin: 0;
		font-size: 18px;
	}
}
@media screen and (max-width: 450px) {
	.container label {
		padding: 15px;
	}
}